.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

 .order-content {
  height: 100%;
  max-width: 1440px;
}

.search {
  text-align: center;
}

.search input {
  border: solid 1px var(--hg-black);
  border-radius: 6px;
  background: none;
  padding: 14px;
  font-size: 16px;
  color: var(--primary-green);
  margin: 8px auto;
  width: 220px;
}

.search input:focus {
  outline: none;
  color: var(--primary-green);
  border: 1px solid var(--primary-yellow);
}

.order-items {
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.order-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  height: 200px;
  width: 160px;
}

.order-item button {
  padding: 4px 8px;
}

.order-item p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-item span {
  width: 100%;
}

.order-item img {
  height: 130px;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px 1px rgb(0 0 0 / 20%);
}

.order-item img:hover {
  transform: scale(1.02);
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  margin: 30px auto;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-green);
  padding: 10px;
  background-color: var(--hg-cream);
  box-shadow: 0 4px 10px 1px rgb(0 0 0 / 20%);
}

.cart-item p {
  display: flex;
}

.cart-item p span:first-child {
  width: 100%;
}

.cart-empty {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-green);
  width: 100%;
}

.total {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

form p {
  font-size: 18px;
  font-weight: bold;
}

.order-details {
  margin: 40px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-details button {
  width: 100%;
}

.submitted {
  margin: 100px auto;
  text-align: center;
  line-height: 4;
}
