.menu {
  text-align: center;
  max-width: 800px;
  padding: 15px;
  margin: 50px auto;
  background-color: var(--hg-cream);
  border-radius: var(--border-radius);
}

.menu h2 {
  color: var(--hg-black);
  font-family: var(--family-h2-h3);
  font-size: var(--h2-hd);
}

.menu-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 10px;
}

.menu-content-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menu-content-item div p:nth-child(1) {
  font-family: var(--family-h2-h3);
  font-size: var(--h3-sbhd-md);
  color: var(--hg-black);
}

.menu-content-item p {
  max-width: 500px;
  text-align: left;
  color: var(--primary-green);
  font-family: var(--family-p-a);
  font-size: var(--card-p);
  padding: 10px;
}

.menu-content-item span {
  color: red;
  font-family: var(--family-h2-h3);
  font-size: var(--card-price);
}

.menu-content img {
  height: 100px;
  width: 120px;
  background-size: cover;
  object-fit: cover;
}

@media (max-width: 430px) {
  .menu h2 {
    font-size: var(--h2-hd-mb);
  }
  .menu-content-item p {
    text-align: center;
  }
  .menu {
    margin: 0px auto;
  }
}