.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

.header img {
  width: 200px;
  height: 50px;
  margin: 10px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header ul li {
  margin: 0 10px;
  padding: 10px;
}

.header nav a:hover {
  color: var(--primary-green);
  border-bottom: 2px solid var(--primary-green);
}

.header nav li:nth-child(4) {
  border: 1px solid var(--primary-yellow);
  border-radius: var(--border-radius);
  color: var(--primary-yellow);
}

.hamburger-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 25px;
}

.hamburger-btn svg {
  height: 40px;
  width: 40px;
}

.hamburger-btn svg:active {
  transform: rotate(90deg);
  transition: all 0.2s linear;
}

/* --------> HAMBURGER ---------> */


.hide-content {
  display: none;
}

.show-content {
  display: block;
  transition: all 0.4s ease;
}

.hamburger {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgb(0 0 0 / 90%);
}

.hamburger-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 100%;
  width: 100%;
  color: var(--highlight-cream);
}

.hamburger-content nav li {
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.hamburger-content nav li a {
  padding: 20px;
  font-weight: 600;
}

.hamburger-content nav ul li:nth-child(4),
.hamburger-content nav ul li:nth-child(5) {
  border: 1px solid var(--primary-yellow);
  border-radius: var(--border-radius);
  color: yellow;
}

.hamburger-content-exit svg {
  position: absolute;
  left: 0px;
  top: -3px;
  cursor: pointer;
  height: 30px;
  padding: 30px;
}

/* --------> HEADER MAIN ---------> */

.header-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  background-color: #495E57;
  padding: 30px;
}

.header-main img {
  height: 360px;
  width: 320px;
}

.header-main-content h2 {
  max-width: 800px;
  color: var(--primary-yellow);
  font-family: var(--font-headlines);
  font-size: 80px;
  margin: 0;
}

.header-main-content h3 {
  color: var(--highlight-cream);
  font-family: var(--font-headlines);
  font-size: 40px;
}

.header-main-content p {
  margin: 20px 0px;
  font-family: var(--font-paragraphs);
  max-width: 300px;
  color: var(--highlight-cream);
  font-size: 20px;
}

@media (max-width: 682px) {
  .nav {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  .header-main-content h2 {
    font-size: 40px;
  }
  .header-main img {
    height: 150px;
    width: 120px;
  }
}

@media (max-width: 748px) {
  .header-main {
    flex-direction: column;
  }
  .header-main-content h2 {
    font-size: 40px;
  }
  .header-main-content h3 {
    font-size: 20px;
  }
  .header-main-content p {
    font-size: 16px;
  }
  .header-main img {
    height: 270px;
    width: 208px;
  }
}