main {
  max-width: 1130px;
  margin: auto;
}

#specials {
  margin: 50px;
}

.specials-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}

.specials-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: left;
  font-family: var(--font-paragraphs);
}

.specials-content-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--highlight-cream);
  height: 400px;
  width: 300px;
  background-color: var(--highlight-cream);
  border-radius: var(--border-radius);
}

.specials-content-card img {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  opacity: .8;
  object-fit: cover;
}

.specials-content-card div {
  height: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--card-title);
  font-family: var(--font-headlines);
  color: var(--highlight-black);
}

.title-price span:nth-child(2) {
  color: red;
}

.description {
  font-size: var(--font-paragraphs);
  color: var(--primary-green);
}

.specials-content-card a {
  color: var(--highlight-black);
}

.specials-content-card svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

@media (max-width: 682px) {
  .specials-content {
    gap: 20px;
  }
}