@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-cream : #FBDABB;
  --highlight-cream : #EDEFEE;
  --highlight-black : #333333;
  --font-headlines: 'Markazi Text';
  --font-paragraphs: 'Karla';
  --text-size-24: 24px;
  --card-title: 24px;
  --card-title-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* max-width: 1440px;
  margin: auto; */
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-paragraphs);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* ------------------------> HEADER ------------------------> */

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

.header img {
  width: 200px;
  height: 50px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header ul li {
  margin: 0 10px;
}

.header nav a:hover {
  color: var(--primary-green);
  border-bottom: 2px solid var(--primary-green);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger svg {
  height: 40px;
  width: 40px;
}

/* --------> HEADER-MOBILE ---------> */

.hide-mobile {
  display: none;
}

.show-mobile {
  display: block;
}

.nav-mobile-backdrop {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 90%);
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--highlight-cream);
}

.mobile-nav nav li {
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.mobile-nav nav li a {
  padding: 20px;
  font-weight: 600;
}

.mobile-nav nav ul li:nth-child(4),
.mobile-nav nav ul li:nth-child(5) {
  border: 1px solid var(--primary-yellow);
  border-radius: 6px;
  color: yellow;
}

.mobile-nav-exit svg {
  position: absolute;
  left: 14px;
  top: -5px;
  cursor: pointer;
  height: 30px;
  padding: 30px;
}

/* ------------------------> FOOTER ------------------------> */

.footer {
  color: var(--highlight-cream);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-green);
}

.footer img {
  margin: auto 20px;
  width: 80px;
  height: 100px;
}

.footer section {
  margin: 20px;
}

.footer p {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--highlight-cream);
}

.footer a,
.footer li {
  font-size: 14px;
  font-family: var(--font-paragraphs);
}

@media (max-width: 550px) {
  .desktop-nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}