@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-cream : #FBDABB;
  --highlight-cream : #EDEFEE;
  --highlight-black : #333333;
  --font-headlines: 'Markazi Text';
  --font-paragraphs: 'Karla';
  --text-size-24: 24px;
  --card-title: 24px;
  --card-title-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  /* max-width: 1440px;
  margin: auto; */
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-paragraphs);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* -----> HEADER -----> */

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

.header img {
  width: 200px;
  height: 50px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header ul li {
  margin: 0 10px;
}

.header a:hover {
  color: var(--primary-green);
  border-bottom: 2px solid var(--primary-green);
}

/* -----> FOOTER -----> */

.footer {
  color: var(--highlight-cream);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-green);
}

.footer img {
  margin: auto 20px;
  width: 80px;
  height: 100px;
}

.footer section {
  margin: 20px;
}

.footer p {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--highlight-cream);
}

.footer a {
  font-size: 14px;
}